@using eServis.BusinessLayer;
@using eServis.Entities;
@model eServis.Entities.FisTanimlama



<div class="container mt-1">





 
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />
    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
    <script src="~/Content/sweetalert2.min.js"></script>



    <div class="row-cols-1">

        <div class="col-lg-12 col-sm-4 col-md-12" style="height:auto !important">
            <div class="card  ">
                <div class="card-header bg-primary">
                    <h5 class="text-white font-weight-bold">
                        @{

                            if (@ViewBag.Baslik != null)
                            {
                                <span class="float-left">  @ViewBag.Baslik </span>
                                <small class="float-right">@System.DateTime.Now.ToShortDateString()</small>
                            }
                            else
                            {

                            }
                        }
                    </h5>
                </div>

                <div class="card-body bg-light">
                    <div class="table-responsive">
                        <table class="table table-striped ">
                            <thead class="table-dark">
                                <tr>
                                    <th>Sıra</th>

                                    <th>Adı</th>
                                    @if (ViewBag.Id == 1 || ViewBag.Id == 2)
                                    {
                                        <th>Kisaltma Kodu</th>
                                    }
                                       @if (ViewBag.Id == 4 )
                                    {
                                        <th>Durum</th>
                                    }


                                    <th>Sil</th>
                                    <th>Güncelle</th>

                                </tr>
                            </thead>
                            @using (Html.BeginForm("Sirala", "FisTanim"))
                            {
                                <tbody class="table-hover">


                                    <tr class="bg-transparent">



                                        <td class="float-left">


                                            <button type="submit" class="btn btn-sm  btn-primary">
                                                <img src="~/Content/svg/sort-numeric-down.svg" width="25" height="25" />
                                            </button>

                                        </td>

                                        <td>

                                            <a href="/FisTanim/ListA/@ViewBag.Id" type="submit" class="btn  btn-sm btn-danger">
                                                <img src="~/Content/svg/sort-alpha-down.svg" width="25" height="25" />
                                            </a>


                                        </td>


                                        <td>
                                            <a id="btnAracBilgi" data-id="@ViewBag.Id" data-toggle="modal" data-target="#FisTanimEkle" class="btn btn-primary btn-sm">YENI KAYIT</a>

                                        </td>

                                        <td></td>
                                    </tr>

                                    @foreach (var item in ViewBag.Fis)
                                    {

                                    <tr id="update">

                                        <td width="50px">

                                            <input type="text" name="Sira" value="@item.Sira" id="@item.Id" class="form-control font-weight-bold sira" />
                                            <input type="hidden" name="Id" value="@item.Id" class="form-control sira" />




                                        <td>
                                            <a style="height:30px" href="" data-toggle="modal" class="btn btn-dark btn-block btn-sm   font-weight-bold text-white">
                                                @item.Baslik
                                            </a>
                                        </td>
                                        @if (ViewBag.Id == 1 || ViewBag.Id == 2)
                                        {
                                            <td>

                                                <a style="height:30px" href="" data-toggle="modal" class="btn btn-dark btn-block btn-sm   font-weight-bold text-white">
                                                    @item.Kisaltma
                                                </a>

                                            </td>
                                        }
                                        else
                                        {

                                        }
                                        @if (item.Baslik == "YENİ İŞ")
                                        {
                                            <td style="width:65px">
                                                <div data-toggle="modal" data-target="#FisTanimSil" data-sil-id="@item.Id" class="sil btn btn-outline-warning btn-secondary btn-sm full text-center font-weigt-bold" style=" width:45px; height:30px"></div>
                                            </td>
                                        }
                                        else if (item.Baslik == "SONUÇLANMIŞ İŞ")
                                        {
                                            <td style="width:65px">
                                                <div data-toggle="modal" data-target="#FisTanimSil" data-sil-id="@item.Id" class="sil btn btn-outline-warning btn-success btn-sm full text-center font-weigt-bold" style=" width:45px; height:30px"></div>
                                            </td>
                                        }
                                        @*<td> @Html.ActionLink("Düzenle", "Duzenle", new { id = item.Id }, new { @class = "btn btn-danger btn-sm btn-block" })</td>*@
                                        <td>
                                            <a data-toggle="modal" data-target="#FisTanimSil" data-sil-id="@item.Id" class="sil btn btn-danger btn-sm full text-center font-weigt-bold" style="height:30px">Sil</a>
                                        </td>
                                        <td>
                                            <a data-toggle="modal" data-target="#FisTanimGuncelle" data-sil-id="@item.Id" class="guncelle btn btn-success btn-sm full text-center font-weigt-bold" style="height:30px">Güncelle</a>
                                        </td>


                                    </tr>

                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
                <div class="card-footer bg-primary text-white">

                </div>
            </div>
        </div>



    </div>


</div>
@Bootstrap.ModalPopup(id: "FisTanimEkle", title: "Fiş Bilgisi Ekle")
@Bootstrap.ModalPopup(id: "FisTanimSil", title: "Fiş Bilgisi Silinsin mi?")
@Bootstrap.ModalPopup(id: "FisTanimGuncelle", title: "Fiş Bilgisi Düzenle")


<script>

    $("#FisTanimEkle").on("show.bs.modal", function (e) {
  
        var btn = $(e.relatedTarget);
        var id = $(btn).data("data-id");
        $("#FisTanimEkle_body").load("/FisTanim/Ekle/" + @ViewBag.Id);


    })
    $("#FisTanimSil").on("show.bs.modal", function (e) {
        var btn = $(e.relatedTarget);
        var id = $(btn).data("sil-id");
        $("#FisTanimSil_body").load("/FisTanim/Sil/" + id);


    })
    $("#FisTanimGuncelle").on("show.bs.modal", function (e) {
        var btn = $(e.relatedTarget);
        var id = $(btn).data("sil-id");
        $("#FisTanimGuncelle_body").load("/FisTanim/Duzenle/" + id);


    })
    $('#btnDelete').click(function () {
        var btn = $(e.relatedTarget);
        var id = $(btn).data("sil-id");
        $.ajax({

            type: "POST",
            url: "/Fis/Sil/" + id,
            data: { 'Id': id },
            success: function () {
                //  window.location.reload();

            }

        });
    })
    $('#btnUpdate').click(function () {
        var btn = $(e.relatedTarget);
        var id = $(btn).data("duzenle-id");
        var ListeFormData = $("#ListeForm").serialize();
        $.ajax({

            type: "POST",
            url: "/Fis/Duzenle/" + id,
            data: ListeFormData,
            success: function () {
                //  window.location.reload();

            }

        });
    })

</script>
