@model List<eServis.Entities.Arac>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Plaka</th>
                <th>Takip No</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="arac" style="height:auto;">
            @using (Html.BeginForm("Arsiv", "Arac", FormMethod.Post, new { @id = "ListeForm" }))
            {

                foreach (var item in Model)
                {
                    <tr id="@item.ID">
                        <td>@item.Plaka</td>
                        <td>@item.AracTakipNo</td>
                        <td>

                            <button id="btnArsivCikar" data-sil-id="@item.ID" type="button" style="background-color:#f12b0a !important; color:#ffffff" class="btn btn-sm ">Arşivden Çıkar</button>

                        </td>
                        <td>

                            <button id="btnSil" data-sil-id="@item.ID" type="button" style="background-color:#000 !important; color:#ffffff" class="btn btn-sm  ">Sil</button>

                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>

<script>
    $(document).on("click", "#btnArsivCikar", function () {
        var formValues = $("#ListeForm").serialize();
        var btn = $(this);
        var id = $(btn).data("sil-id");
        $.ajax({
            url: '/Arac/ArsivListesi/' + id,
            type: 'POST',
            dataType: 'json',
            data: formValues,
            success: function (data) {
                if (data != null && data != '0') {
                    $("#" + id).fadeOut(600);
                    Swal.fire({
                        icon: 'success',
                        title: 'Araç Başarıyla Arşivden Çıkarıldı!',
                        text: 'İşlem başarıyla gerçekleştirildi.'

                    })
                    window.location = "/Arac/Index/", 10000;
                }
            }
        });
    });


</script>


