@model eServis.Entities.Urun

@{
    ViewBag.Title = "Ekle";
}
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<link href="~/Content/sweetalert2.css" rel="stylesheet" />
<script src="~/Content/sweetalert2.min.js"></script>
<script>
    $("#btnKaydet").on("click", function () {

        var formValues = $("#ListeForm").serialize();
        $.ajax({
            url: "/Urun/Ekle/",
            type: 'POST',
            dataType: 'json',
            data: formValues,
            success: function (data) {
                if (data.Result.Baslik != null) {

                    Swal.fire({
                        icon: 'success',
                        title: 'Tebrikler!',
                        text: 'Ürün Başarıyla Eklendi!'


                    })
                    window.location = "/Urun/Index/", 7000;
                }
                else if (data.Result.Baslik == null) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Ürün',
                        text: 'Ürün Adı boş olamaz!'


                    })
                }
            }
        });
    });
</script>

@using (Html.BeginForm("Ekle", "Urun", FormMethod.Post, new { @id = "ListeForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Baslik, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ürün Adı" } })
                @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Kod, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ürün Kodu" } })
                @Html.ValidationMessageFor(model => model.Kod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnKaydet" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>

}
